.landing-home {
    /* background-image: url(http://mrmrs.github.io/photos/u/011.jpg) */
    background-image: url("../img/gei-bg-fabric-min.jpg");
}

.product:hover {
    /* border: 1px solid gray;
    box-sizing: border-box !important;
    transition: 1s all; */
}

/* GMAP */
.mapouter {
    position: relative;
    text-align: right;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
}