<!DOCTYPE html>
<html lang="en" ng-app="gei" ng-controller="gei-ctrl">

<head>
    <title ng-bind="title">Global Exporters & Importers</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/tachyons/css/tachyons.min.css">
    <link rel="stylesheet" href="css/override.css">

    <!-- OPEN GRAPH META TAGS: START -->
    <meta property="og:type" content="business.business">
    <meta property="og:title" content="Global Exporters & Importers | Manufacturer and Exporter of Eco-Friendly Bags">
    <meta property="og:url" content="http://www.globaljutebags.in">
    <meta property="og:image" content="http://www.globaljutebags.in/img/bag.png">
    <meta property="og:description"
        content="Manufacturer & Exporter of custom-printed/designed Eco-Friendly Bags made of Jute/Cotton/Canvas">
    <meta property="business:contact_data:street_address" content="8/1 R.L. Ghosh Road, Budge Budge">
    <meta property="business:contact_data:locality" content="Kolkata">
    <meta property="business:contact_data:region" content="West Bengal">
    <meta property="business:contact_data:postal_code" content="700137">
    <meta property="business:contact_data:country_name" content="India">
    <!-- OPEN GRAPH META TAGS: END -->

    <!-- FAVICON: START -->
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest">
    <link rel="mask-icon" href="safari-pinned-tab.svg" color="#5bd56d">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="theme-color" content="#ffffff">
    <!-- FAVICON: END -->
</head>

<body class="avenir">
    <!-- HEADER -->
    <header>
        <div class="landing-home cover bg-left bg-center-l">
            <div class="bg-black-60 pb6">
                <nav class="db dt-l w-100 border-box pa3 ph5-l">
                    <a class="db dtc-l v-mid mid-gray link dim w-100 w-25-l tc tl-l mb2 mb0-l" href="#" title="Home">
                        <img src="img/bag.svg" class="dib w2">
                    </a>
                    <div class="db dtc-l v-mid w-100 w-75-l tc tr-l">
                        <a ng-repeat="menu in nav" class="f6 fw4 white-70 hover-white link dib mr3 mr4-l"
                            href="{{menu.href}}" title="{{menu.label}}" ng-bind="menu.label">
                        </a>
                    </div>
                </nav>

                <div class="tc mt4 mt5-m mt6-l ph3">
                    <h1 class="f1 fw3 white-90 mb0 lh-title">Global Exporters <span class="">&amp;</span> Importers
                    </h1>
                    <h2 class="f3 fw2 white-80 mv4">Manufacturer & Exporter of custom-<span
                            class="fw4 light-blue">printed</span>/<span class="fw4 green">designed</span>
                        Eco-Friendly Bags made of <span class="fw4">Jute/Cotton/Canvas</span>
                    </h2>

                    <div class="mt6 pb5">
                        <!-- <a class="f6 no-underline grow dib v-mid bg-blue white ba b--blue ph3 pv2 mb3"
                            href="/">Order/Enquire</a>
                        <span class="dib v-mid ph3 white-70 mb3">or</span> -->
                        <a class="f5 no-underline grow dib v-mid white ba b--white bw1 br2 ph3 pv2 mb3"
                            href="#catalogue">
                            Check our Bags made with <img class="w1 v-mid" src="img/love.svg">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- SECONDARY NAV -->
    <!-- <nav class="db dt-l w-100 border-box pa3 ph5-l fixed">
        <a class="db dtc-l v-mid mid-gray link dim w-100 w-25-l tc tl-l mb2 mb0-l" href="#" title="Home">
            <img src="img/favicon.png" class="dib w2 h2 br-100">
        </a>
        <div class="db dtc-l v-mid w-100 w-75-l tc tr-l">
            <a ng-repeat="menu in nav" class="f7 fw4 black-70 hover-black link dib mr3 mr4-l" href="{{menu.href}}"
                title="{{menu.label}}" ng-bind="menu.label">
            </a>
        </div>
    </nav> -->

    <!-- CONTENT -->
    <div id="catalogue" class="mt0 pa5 tc">
        <article>
            <!-- Catalogue -->
            <h1 class="f2 f2-ns fw6 mid-gray">Catalogue</h1>
            <!-- Category -->
            <div ng-repeat="category in catalogue">
                <h3 class="f3 gray fw3 ttu tracked mv5">
                    <span class="dib pb2 bb b--black-10">{{category.name}}</span>
                </h3>
                <!-- Products -->
                <div class="cf pa2">
                    <div class="fl w-33-ns w-50-m w-100 pa2" ng-repeat="product in category.products">
                        <a target="__blank" href="{{product.img}}" class="db link dim tc pointer">
                            <img ng-src="{{product.img}}" alt="{{product.name}}" class="w-100 db black-10" />
                            <dl class="mt2 f6 lh-copy">
                                <dt class="clip">Title</dt>
                                <dd class="ml0 black truncate w-100">{{product.name}}</dd>
                                <dt class="clip">Artist</dt>
                                <dd class="ml0 gray truncate w-100">{{product.desc}}</dd>
                            </dl>
                        </a>
                    </div>
                </div>
            </div>
        </article>
    </div>
    </article>
    </div>

    <!-- ORDER -->
    <div id="order" class="tc" ng-if="showOrder">
        <iframe
            src="https://docs.google.com/forms/d/e/1FAIpQLSchzAB1ftS0yKNxoziFSJy24xApJkMbZB2ExmwDD-2AVurmqw/viewform?embedded=true"
            width="100%" height="1150" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
    </div>

    <!-- CONTACT -->
    <div id="contact" class="ph6-ns ph4 pv2 black-70">
        <h1 class="f2 f2-ns fw6 mid-gray tc">Contact</h1>
        <!-- <a href="mailto:globalexpt@gmail.com" class="link b f3 f2-ns dim black-70 lh-solid">globalexpt@gmail.com</a> -->

        <div class="mw7 center ph3-ns cf mb4">
            <!-- <div class="tc">
                <dl class="lh-title pa3 mt0">
                    <dt class="f6 b mt4">Email us</dt>
                    <dd class="ml0"><a class="link" href="mailto:globalexpt@gmail.com">globalexpt@gmail.com</a></dd>
                </dl>
            </div> -->
            <div class="fl w-100 w-50-ns pa2">
                <dl class="lh-title pa3 mt0 tl">
                    <dt class="f6 b">Founder</dt>
                    <dd class="ml0">Mohiuddin Shaikh</dd>
                    <dt class="f6 b mt4">Marketing Manager</dt>
                    <dd class="ml0">Tuhin Suvra Sen</dd>
                    <dt class="f6 b mt4">Email us</dt>
                    <dd class="ml0"><a class="link" href="mailto:globalexpt@gmail.com">globalexpt@gmail.com</a></dd>
                </dl>
            </div>
            <div class="fl w-100 w-50-ns pa2">
                <dl class="lh-title pa3 mt0">
                    <dt class="f6 b">Call us</dt>
                    <dd class="ml0">
                        <a class="link" href="tel:+919331022673">(+91)-9331022673</a> (Founder)<br>
                        <a class="link" href="tel:+919062704124">(+91)-9062704124</a> (Marketing Manager)
                    </dd>
                    <dt class="f6 b mt4">Mail us</dt>
                    <dd class="ml0">8/1 R.L. Ghosh Road, Budge Budge,<br> Kolkata -700137, West Bengal, India</dd>
                </dl>
            </div>
        </div>

        <div class="mapouter w-100" ng-if="showMap">
            <div class="gmap_canvas" width="100%">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3686.862058533395!2d88.1745678149509!3d22.471817385234697!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a027dc95555552b%3A0x51d083c5f341c77b!2sGlobal+Exporters+%26+Importers!5e0!3m2!1sen!2sin!4v1559573289488!5m2!1sen!2sin"
                    width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </div>

    <!-- FOOTER -->
    <!-- bt b--black-10 -->
    <footer class="pv4 ph3 ph5-m ph6-l mid-gray mt3">
        <small class="f6 db tc">© {{ year }} <b class="ttu">Global Exporters &amp; Importers</b>, All Rights
            Reserved</small>
        <div class="tc mt3">
            <a href="https://www.facebook.com/globeximp/" target="__blank" title="Facebook"
                class="f6 dib ph2 link mid-gray dim">Facebook</a>
            <a href="#" title="Terms" class="f6 dib ph2 link mid-gray dim">Terms of Use</a>
            <a href="#" title="Privacy" class="f6 dib ph2 link mid-gray dim">Privacy</a>
        </div>
    </footer>

    <!-- SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script src="js/controller.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-141283677-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-141283677-1');
    </script>

</body>

</html>