<!DOCTYPE html>
<html lang="en" ng-app="gei">
<title> </title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://unpkg.com/tachyons/css/tachyons.min.css">
<link rel="stylesheet" href="css/override.css">

<body class="sans-serif" ng-controller="gei-ctrl">
    <!-- HEADER -->
    <header>
        <div class="landing-home cover bg-left bg-center-l">
            <div class="bg-black-60 pb5 pb6-m pb7-l">
                <nav class="dt w-100 mw8 center">
                    <div class="dtc w2 v-mid pa3">
                        <a href="/" class="dib w2 h2 pa1 br2 ba bw1 b--dashed b--white-90 grow-large border-box">
                            <img src="img/gei-logo.png" />
                        </a>
                    </div>
                    <div class="dtc v-mid tr pa3 f5">
                        <a class="fw4 hover-white no-underline white-70 dn dib-ns pv2 ph3" href="/">Home</a>
                        <a class="fw4 hover-white no-underline white-70 dn dib-ns pv2 ph3"
                            href="/#catalogue">Catalogue</a>
                        <a class="fw4 hover-white no-underline white-70 dn dib-l pv2 ph3"
                            href="/#order">Contact/Order</a>
                        <a class="fw4 hover-white no-underline white-70 dn dib-l pv2 ph3" href="/#about">About</a>
                    </div>
                </nav>
                <div class="tc-l mt4 mt5-m mt6-l ph3">
                    <h1 class="f1 f1-l fw3 white-90 mb0 lh-title">Global Exporters <span class="">&amp;</span> Importers
                    </h1>
                    <h2 class="fw3 f3 white-80 mt3 mb4">Manufacturer & Exporter of <span
                            class="light-blue">custom-printed</span>/<span class="green">custom-designed</span>
                        Jute/Cotton/Canvas Eco-Friendly Bags
                    </h2>

                    <div class="mt5">
                        <!-- <a class="f6 no-underline grow dib v-mid bg-blue white ba b--blue ph3 pv2 mb3"
                            href="/">Order/Enquire</a>
                        <span class="dib v-mid ph3 white-70 mb3">or</span> -->
                        <a class="f6 no-underline grow dib v-mid white ba b--white ph3 pv2 mb3" href="">Order /
                            Enquire</a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- CONTENT -->
    <div id="catalogue" class="mt0 pa5 tc">
        <article>
            <!-- Catalogue -->
            <h1 class="f2 f2-ns fw6 mid-gray">Catalogue</h1>
            <!-- Category -->
            <div ng-repeat="category in catalogue">
                <h3 class="f3 gray fw2 ttu tracked mv5"><span class="pb2 bb b--black-10">{{category.name}}</span></h3>
                <!-- Products -->
                <div class="cf pa2">
                    <div class="fl w-50 w-25-m w-33-l pa2" ng-repeat="product in category.products">
                        <a target="__blank" href="{{product.img}}" class="db link dim tc pointer">
                            <img src="{{product.img}}" alt="{{product.name}}" class="w-100 db black-10" />
                            <dl class="mt2 f6 lh-copy">
                                <dt class="clip">Title</dt>
                                <dd class="ml0 black truncate w-100">{{product.name}}</dd>
                                <dt class="clip">Artist</dt>
                                <dd class="ml0 gray truncate w-100">{{product.desc}}</dd>
                            </dl>
                        </a>
                    </div>
                </div>
            </div>
        </article>
    </div>
    </article>
    </div>

    <!-- ORDER -->
    <div id="order" class="tc">
        <iframe
            src="https://docs.google.com/forms/d/e/1FAIpQLSchzAB1ftS0yKNxoziFSJy24xApJkMbZB2ExmwDD-2AVurmqw/viewform?embedded=true"
            width="640" height="1235" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
    </div>

    <!-- ABOUT -->
    <div id="about" class="ph6 pv2 black-70">
        <h1 class="f2 f2-ns fw6 mid-gray tc">About</h1>
        <!-- <a href="mailto:globalexpt@gmail.com" class="link b f3 f2-ns dim black-70 lh-solid">globalexpt@gmail.com</a> -->

        <div class="mw7 center ph3-ns cf">
            <div class="fl w-100 w-50-ns pa2">
                <dl class="lh-title pa3 mt0 tl">
                    <dt class="f6 b">Founder</dt>
                    <dd class="ml0">Mohiuddin Shaikh</dd>
                    <dt class="f6 b mt4">Marketing Manager</dt>
                    <dd class="ml0">Tuhin Suvra Sen</dd>
                </dl>
            </div>
            <div class="fl w-100 w-50-ns pa2">
                <dl class="lh-title pa3 mt0">
                    <dt class="f6 b">Address</dt>
                    <dd class="ml0">8/1 R.L. Ghosh Road, Budge Budge,<br> Kolkata -700137, West Bengal, India</dd>
                    <dt class="f6 b mt4">Mobile</dt>
                    <dd class="ml0">
                        (+91)-9331022673 (Founder)<br>
                        (+91)-9062704124 (Marketing Manager)
                    </dd>
                </dl>
            </div>
        </div>
    </div>

    <!-- FOOTER -->
    <footer class="pv4 ph3 ph5-m ph6-l mid-gray mt5 ">
        <small class="f6 db tc">© {{ year }} <b class="ttu">Global Exporters &amp; Importers</b>, All Rights
            Reserved</small>
        <div class="tc mt3">
            <a href="https://www.facebook.com/globeximp/" target="__blank" title="Facebook"
                class="f6 dib ph2 link mid-gray dim">Facebook</a>
            <a href="/terms/" title="Terms" class="f6 dib ph2 link mid-gray dim">Terms of Use</a>
            <a href="/privacy/" title="Privacy" class="f6 dib ph2 link mid-gray dim">Privacy</a>
        </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script src="js/controller.js"></script>
</body>

</html>